name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      promote-environment: dev
    
    steps:
      - name: Define image tag
        id: define-tag
        run: |
          suffix="-${GITHUB_SHA:0:7}"
          if [[ "${{ promote-environment }}" == "dev" ]]; then
            suffix="${suffix}-$(date +%s%N)"
          fi

          export img_tag=${{ env.safe_registry_tag }}${suffix} 
          echo "IMG_TAG=$(echo $img_tag)" >> $GITHUB_ENV
          echo "IMG_TAG=${img_tag}" >> $GITHUB_OUTPUT    
 
      - name: Echo tag
        run: |
          echo "Tag: ${IMG_TAG}"
