name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      promote_environment: hom
      safe_registry_tag: v1.0.0
    
    steps:
      - name: Define image tag
        id: define-tag
        run: |
          suffix="-${GITHUB_SHA:0:7}"
          if [[ "${promote_environment}" == "dev" ]]; then
            suffix="${suffix}-$(date +%s%N)"
          fi

          export img_tag=${safe_registry_tag}dev${suffix} 
          echo "IMG_TAG=$(echo $img_tag)" >> $GITHUB_ENV
          echo "IMG_TAG=${img_tag}" >> $GITHUB_OUTPUT    
 
      - name: Echo tag
        run: |
          echo "Tag: ${{ steps.define-tag.outputs.IMG_TAG }}"
